READER Vanch/Program Node-red/vanch.json
[{"id":"eda5de61.40789","type":"mqtt in","z":"21c06b18.ced404","name":"","topic":"reader/reader2","qos":"2","datatype":"auto","broker":"45bf334c.e0fa5c","x":200,"y":380,"wires":[["696652d3.c5863c"]]},{"id":"696652d3.c5863c","type":"function","z":"21c06b18.ced404","name":"","func":"var Tag = msg.payload;\nvar i;\nvar panjang;\nvar jadi;\nvar Id;\nvar Reader;\ntarget = [];\n\nfor (const array=Array.from(Tag);array.length;target.push(array.splice(0,48).join('')));\npanjang = target.length;\nconsole.log(target);\nconsole.log('panjang=',panjang);\nId = target.slice(-1);\nReader = Id.toString();\nconsole.log('IDReader=',Reader)\n\nfunction hex_to_ascii(str1){\n    var hex = str1.toString();\n    var str = '';\n    for (var n = 0; n < hex.length; n+=2){\n        str += String.fromCharCode(parseInt(hex.substr(n,2),16));\n    }\n    return str;\n}\n\nfor(i=0;i<panjang;i++){\n    jadi = target[i].toString();\n    jadi = jadi.slice(0,48);\n    \n    var kirimReader = (hex_to_ascii(Reader));\n    var kirimTag = (hex_to_ascii(jadi));\n    \n    console.log('hasil Konversi ID:', kirimReader);\n    console.log('Hasil Konversi Tag:', kirimTag);\n    \n    msg.topic = \"INSERT INTO reader2(`ID_Reader`, `Nomor_Tag`) VALUES ('\"+kirimReader+\"','\"+kirimTag+\"')\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["2b89739d.87540c"]]},{"id":"2b89739d.87540c","type":"mysql","z":"21c06b18.ced404","mydb":"bb7bb8cf.a33868","name":"","x":630,"y":420,"wires":[[]]},{"id":"45bf334c.e0fa5c","type":"mqtt-broker","name":"","broker":"202.154.58.25","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb7bb8cf.a33868","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"rfid_reader","tz":"GMT+7","charset":"UTF8"}]