READER ELECTRON/Node-red/electron.json
[{"id":"6fde243.a85e5dc","type":"mysql","z":"21c06b18.ced404","mydb":"bb7bb8cf.a33868","name":"reader1","x":480,"y":100,"wires":[[]]},{"id":"916b921e.8b759","type":"mqtt in","z":"21c06b18.ced404","name":"","topic":"reader/reader","qos":"2","datatype":"auto","broker":"45bf334c.e0fa5c","x":180,"y":140,"wires":[["494abbbe.6fb554"]]},{"id":"494abbbe.6fb554","type":"function","z":"21c06b18.ced404","name":"","func":"var Tag = msg.payload;\nvar panjang;\nvar i;\ntarget = [];\nvar Id;\nvar Reader;\nvar jadi;\nfor(const array = Array.from(Tag); array.length; target.push(array.splice(0,36).join('')));\n\npanjang=target.length;\nconsole.log(target); \nconsole.log('panjang=',panjang);\nId = target.slice(-1);\nReader = Id.toString();\n\nfor(i=0;i<panjang;i++){\n     jadi= target[i].toString();\n     jadi=jadi.slice(8,32);\n\n\n\nconsole.log('data ke: ',i,'=',jadi);\nconsole.log('ID Reader: ',Reader); \nmsg.topic = \"INSERT INTO reader(`ID_Reader`, `Nomor_Tag`) VALUES ('\"+Reader+\"','\"+jadi+\"')\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[["6fde243.a85e5dc","f20d1c9a.5a29c"]]},{"id":"f20d1c9a.5a29c","type":"ui_text","z":"21c06b18.ced404","group":"4ab01705.9eea8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":220,"wires":[]},{"id":"bb7bb8cf.a33868","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"rfid_reader","tz":"GMT+7","charset":"UTF8"},{"id":"45bf334c.e0fa5c","type":"mqtt-broker","name":"","broker":"202.154.58.25","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ab01705.9eea8","type":"ui_group","name":"Default","tab":"f9dff01.0e7e99","order":1,"disp":true,"width":"6","collapse":false},{"id":"f9dff01.0e7e99","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]